body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: #f3f3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

a {
  text-decoration: none;
  color: #323232;
}

button {
  cursor: pointer;
}

button:disabled {
  background-color: #32323285 !important;
}

.post-page {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(35, 31, 31);
  color: #f3f3f3;
  border: none;
  font-size: 0.9rem;
}

.btn:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(0.98);
}

.input {
  width: 40%;
  background: transparent;
  font-family: unset;
  font-size: 1.1rem;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px black;
}

.image-input {
  display: none;
}

.image-label {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgb(35, 31, 31);
  color: white;
  cursor: pointer;
}

.image-label:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(0.98);
}

.image-preview {
  max-width: 50%;
  border-radius: 5px;
  height: 120px;
}

.no-image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.og-container {
  background: linear-gradient(to bottom, rgb(200 21 21 / 0%), rgb(218 218 218));
}

.og-image {
  position: relative;
  width: 1200px;
  height: 630px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ddd;
}

.og-img-header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.og-img-title {
  font-size: 2.7rem;
  word-wrap: break-word;
}

.og-img-content {
  word-wrap: break-word;
  font-size: 1.5rem;
}

.og-img-logo {
  width: 250px;
  height: 200px;
  border-radius: 50%;
}

.og-img-label {
  background: #3B3B3B;
  color: #FBFBFB;
  padding: 2px 7px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.og-img-view {
  max-width: 550px;
  max-height: 500px;
}

.loading-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 1rem;
}

.post-image {
  height: 400px;
  width: 50%;
  border-radius: 10px;
}